<header class="header-nav">
  <div></div>
  <div></div>
  <div class="right-nav-items">
    <form action="/search">
      <input
        class="search-nav"
        placeholder="search"
        type="search">
    </form>

    <a href="/cart">
      <img
        class="shopping-img"
        width="40"
        height="40"
        loading="lazy"
        src="{{ 'd.png' | asset_url }}">
    </a>
  </div>

</header>