<header class="header-nav">
  <div></div>
  <div></div>
  <div class="right-nav-items">
    <form action="/search">
      <input
        class="search-nav"
        placeholder="search"
        type="search">
    </form>

    <a href="/cart">
      <img
        class="shopping-img"
        width="40"
        height="40"
        loading="lazy"
        src="{{ 'd.png' | asset_url }}">
    </a>

    {% if section.blocks.size == 0 %}
      <li>
        <a href="#">Help</a>
      </li>

      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li>
            <a href="/account">Account</a>

          </li>

        {% else %}
          <li>
            <a href="/account/login">Sign in</a>
          </li>
        {% endif %}
      {% endif %}

    {% else %}
      {% for block in section.blocks %}
        <li>
          <a href="{{ block.settings.link }}">{{ block.settings.text | escape }}</a>
        </li>
      {% endfor %}
    {% endif %}

  </div>

</header>